.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    position: relative;
}

.locations ul,
.amenities ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    z-index: 1;
}

.locations:hover ul,
.amenities:hover ul {
    display: block;
}

.locations h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
